<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let dashboard of dashboardList">
    <mat-expansion-panel-header>
      <mat-panel-description class="header">
        {{ dashboard.city }}
        <mat-icon>favorite</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content">
      <div class="row carousel">
        <div *ngFor="let item of dashboard.weathers" class="col-md-2 col-sm-6">
          <app-weather-card [weather]="item" [city]="dashboard.city"></app-weather-card>
        </div>
      </div>
    </div>
    <mat-action-row>
      <button mat-button class="remove-favorite" (click)="removeFavorite(dashboard)">
        <mat-icon>favorite_border</mat-icon> Remove as Favorite
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>