<div class="search">
  <div>
    <form [formGroup]="searchForm">
      <mat-form-field>
        <input
          matInput
          [formControl]="searchValueControl"
          name="searchValue"
          placeholder="City Name or ZipCode"
        />
        <mat-error *ngIf="searchValueControl.errors && searchValueControl.errors.required">
          Must enter a value for search.
        </mat-error>
      </mat-form-field>
      <button mat-button class="search-button" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-checkbox class="example-margin custom-checkbox-style" formControlName="favorite"
        >Mark as Favorite</mat-checkbox
      >
    </form>
  </div>
</div>
