.search{
   display: grid;
   justify-content: flex-end;
}

.search-input {
    grid-column: 1/2;
}
.search-button{
    grid-column: 2/2;
    border-radius: 10px;
    color: #498da5 !important;
    margin-left: 2px;
}
.favorite-button{
    border-radius: 10px;
    color: #498da5 !important;
    margin-left: 2px;
}
.custom-checkbox-style {
  mat-checkbox.mat-checkbox-indigo .mat-checkbox-background {
    background-color: mat-color(#498da5);
  }
}
