<div class="search">
  <div>
    <form [formGroup]="searchForm">
      <mat-form-field>
        <input
          matInput
          [formControl]="searchValueControl"
          name="searchValue"
          placeholder="City Name or ZipCode"
          class="search-input"
        />
        <mat-error *ngIf="searchValueControl.errors && searchValueControl.errors.required">
          Must enter a value for search.
        </mat-error>
      </mat-form-field>
      <button mat-button class="search-button" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button class="favorite-button" matTooltip="Mark as Favorite" (click)="changeFavoriteValue()">
        <mat-icon *ngIf="!favoriteValueControl.value">favorite_border</mat-icon>
        <mat-icon *ngIf="favoriteValueControl.value">favorite</mat-icon>
        <span>Mark as Favorite</span>
      </button>
    </form>
  </div>
</div>
