<div class="centered-content">
    <div class="content">
        <div class="row carousel">
            <div *ngFor="let item of dailyForecast" class="col-md-3 col-sm-6">
                <mat-card class="example-card card" (click)="openWeatherModal(item.date)">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>{{ item.maxTemperature | number: '1.0-0'}} / {{item.minTemperature| number:
                                '1.0-0'}} °C</mat-card-title>
                            <mat-card-subtitle> {{ item.date | date: 'MMM dd' }}</mat-card-subtitle>
                            <img mat-card-md-image [src]=item.icon alt="Image of a Shiba Inu" />
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> {{item.description | titlecase}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>