/* styles.css */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.left-button,
.right-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #498da5 !important;
}

.right-button {
  margin-left: 20px;
}
.card {
  width: 275px;
  height: 350px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  position: relative;
  transition: transform 0.3s;
}
.card:hover {
  box-shadow: 10px 5px 5px black;
  transform: scale(1.05);
}

.title,.day-information, .temperature {
  color: #498da5;
}
.temperature {
  font-size: 32px;
}

.title,
.icon {
  justify-content: center;
}